@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "flowbite";


@layer base {
    @font-face {
        font-family: "Valkyrie T3";
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/valkyrie_t3_regular.woff') format('woff');
    }
    @font-face {
        font-family: "Valkyrie T4";
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/valkyrie_t4_regular.woff') format('woff');
    }
    @font-face {
        font-family: "Concourse T3";
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/concourse_t3_regular.woff') format('woff');
    }
    @font-face {
        font-family: "Concourse T4";
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/concourse_t4_regular.woff') format('woff');
    }
    @font-face {
        font-family: "Concourse C3";
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/concourse_c3_regular.woff') format('woff');
    }
    @font-face {
        font-family: "Concourse C6";
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/concourse_c6_regular.woff') format('woff');
       
    }
    @font-face {
        font-family: "Concourse T7";
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/concourse_t7_regular.woff') format('woff');
    }
    @font-face {
        font-family: "Concourse T6";
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/concourse_t6_regular.woff') format('woff');
       
    }
    @font-face {
        font-family: "PT Sans";
        font-display: swap;
        src: url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
    }
}


[x-cloak] { 
    display: none;
 }